*{box-sizing: border-box;}
*::before,*::after{box-sizing: border-box;}
.skin{
    position: relative;
}
/* 鼻子 */
.nose{
    position: relative;
    border: 10px solid;
    border-color: black transparent transparent transparent;
    width: 0px;
    height: 0px;
    left: 50%;
    top: 145px;
    margin-left: -10px;
}
.yuanhu{
    position: absolute;
    width: 20px;
    height: 8px;
    top: -18px;
    left: -10px;
    border-radius: 10px 10px 0px 0px;
    background-color: black;
}
/* 眼睛 */
.eye{
    border: 2px solid #000000;
    width: 64px;
    height: 64px;
    position: absolute;
    left: 50%;
    margin-left: -32px;
    top: 100px;
    border-radius: 50%;
    background-color: #2e2e2e;
}
.eye::before{
    content: '';
    display: block;
    border: 3px solid #000000;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    left: 8px;
    top: 1px;
}
.eye.left{
    transform: translateX(-100px);
}
.eye.right{
    transform: translateX(100px);
}